/* Write your CSS here! */
.headSeparator {
  margin: 8px;
  padding: 25px;
  background-color: #9ab4e2;
  text-align: center;
  font-size: x-large;
  font: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-sm {
  display: block;
  margin: auto;
  width: 25%;
  border: 7px solid rgb(6, 4, 110);
  padding: 10px;
  text-align: center;
  
}

.img-md{
  display: block;
  margin: auto;
  width: 30%;
  border: 7px solid rgb(6, 4, 110);
  padding: 10px;
  text-align: center;
}


#mainHeading {
color: #f30000;
text-align: center;
font-size: xx-large;
text-decoration: underline;
font: bolder;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
text-align: center;
font-size: x-large;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
margin: 8px;
background-color: beige;
display: block;
}

#funParagraph{
color: #1e9232;
font-size: xx-large;
font: bold;
margin: 8px;
padding: 25px;
font-style: italic;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
color: #f51cb4;
font-size: x-large
}
